html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  /* указать шрифт под проект*/
  font-size: 22px;
  font-weight: 400;
  line-height: 31px;
  color: #383A4C;
  /*цвет под ваш проект*/
  background-color: #fff;
  /*цвет под ваш проект*/
}

img {
  max-width: 100%;
  height: auto;
}


button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol,
fieldset {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p,
figure,
fieldset,
blockquote {
  margin: 0;
}

figure {
  padding: 0;
}

iframe,
input,
fieldset {
  border: 0 none;
}

/*
Доступно скрываю элементы
*/

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/*
Пример контейнера
Если контейнер 1180px по макету,
то для max-width прибавляем паддинги 30px*2, 
в итоге 1240px
Чтобы контент не прижимался к краям экрана
*/

.container {
  max-width: 1600px;
  padding: 0 200px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .container {
    padding: 0 30px;
  }
}

@media (max-width: 780px) {
  .container {
    padding: 0 15px;
  }
}

/*
У секции добавляю вертикальные паддинги,
это половина от расстояния между блоками
*/

section {
  padding: 71px 0;
}

header,
footer {
  padding: 40px 0;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 41px;
  text-align: center;
  margin-bottom: 27px;
}

@media (max-width: 1024px) {
  .title {
    text-align: center;
    font-size: 32px;
    line-height: 38px;
  }
}

@media (max-width: 780px) {
  .title {
    margin: 0 auto;
    width: 290px;
    text-align: center;
    font-size: 20px;
    line-height: 23px;
  }
}

.discription {
  text-align: center;
}

@media (max-width: 1024px) {
  .discription {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (max-width: 780px) {
  .discription {
    font-size: 14px;
    line-height: 20px;
  }
}

.button {
  padding: 12px 48px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  background-color: #15A9CB;
  border: 1px solid #15A9CB;
  border-radius: 50px;
  box-shadow: 0px 2.69725px 16.8578px rgba(21, 169, 203, 0.3);
}

.button::first-letter {
  text-transform: uppercase;
}

@media (max-width: 1024px) {
  .button {
    font-size: 20px;
    line-height: 23px;
    padding: 11px 48px;
  }
}

@media (max-width: 780px) {
  .button {
    font-size: 16px;
    line-height: 19px;
    padding: 9px 38px;
  }
}
