.feedback {
  position: relative;
  color: white;
  text-align: center;
}

.feedback__title {
  margin-bottom: 17px;
  padding-right: 25px;
}

.feedback::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(./img/img-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  z-index: -2;
}

.feedback::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 50, 75, 0.85);
  background-size: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.feedback__legend {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 49px;
}

.feedback__list {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 423px;
  margin: 0 auto 50px auto;
}

.feedback__input {
  width: 100%;
  border: 1.38235px solid #FFFFFF;
  border-radius: 50px;
  background-color: transparent;
  padding: 9px 25px;
}

.feedback__input[placeholder] {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: rgba(255, 255, 255, 0.5);
}

.feedback__link {
  color: #4A76A8;
  text-decoration: underline;
  cursor: pointer;
}

.feedback__button {
  margin-bottom: 51px;
  padding: 12px 38px;
}

.feedback__discription {
  font-size: 20px;
  line-height: 23px;
}

@media (max-width: 1024px) {
  .feedback {
    padding-bottom: 57px;
    padding-top: 72px;
  }

  .feedback__title {
    margin-bottom: 16px;
    padding-right: 9px;
  }

  .feedback::before {
    background-position: center;
  }

  .feedback__legend {
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 47px;
    padding-left: 17px;
  }

  .feedback__list {
    width: 377px;
    gap: 17px;
  }

  .feedback__input {
    padding: 8px 23px;
  }

  .feedback__input[placeholder] {
    font-size: 20px;
    line-height: 23px;
  }

  .feedback__button {
    padding-left: 38px;
    padding-right: 38px;
    margin-bottom: 29px;
  }

  .feedback__discription {
    font-size: 17px;
    line-height: 20px;
  }
}

@media (max-width: 780px) {
  .feedback {
    padding-top: 33px;
    padding-bottom: 30px;
  }

  .feedback__title {
    margin-bottom: 13px;
    padding-right: 2px;
  }

  .feedback__legend {
    font-size: 12px;
    line-height: 14px;
    margin-bottom: 30px;
    padding-left: 0;
  }

  .feedback__list {
    width: 100%;
    gap: 9px;
    margin-bottom: 43px;
  }

  .feedback__input {
    padding: 6px 18px;
    width: 290px;
  }

  .feedback__input[placeholder] {
    font-size: 14px;
    line-height: 16px;
  }

  .feedback__button {
    padding: 9px 29px;
    margin-bottom: 30px;
  }

  .feedback__discription {
    font-size: 11px;
    line-height: 13px;
  }
}

@media (max-width: 320px) {
  .feedback::before {
    background-position: bottom 0px right -196px;
  }
 }

