.footer {
  padding: 43px 0 45px 0;
  background: #2F324B;
  color: #fff;
}

.footer__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.footer__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 19px;
}

.footer__text {
  width: 127px;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}

.footer__autor {
  font-size: 12px;
  line-height: 17px;
  padding-right: 15px;
}

@media (max-width: 1024px) {
  .footer {
    padding: 37px 0 50px 0;
  }

  .footer__autor {
    padding-right: 22px;
  }
}

@media (max-width: 700px) {
  .footer {
    position: relative;
    padding: 23px 0 0 0;
  }

  .footer__text {
    font-size: 8px;
    line-height: 11px;
    max-width: 87.3px;
  }

  .footer__block {
    margin-bottom: 25px;
  }

  .footer__autor {
    width: 100%;
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    order: 2;
    z-index: 1;
  }

  .footer::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 47px;
    width: 100%;
    background: #2A2C3F;
  }

  .tel-block_posion_footer {
    top: -11px;
  }
}