.footer {
  padding: 43px 0 45px 0;
  background: #2F324B;
  color: #fff;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
  max-width: 1600px;
  margin: 0 auto;
}

.footer__block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 19px;
}

.footer__text {
  width: 127px;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
}

.footer__autor {
  font-size: 12px;
  line-height: 17px;
  padding-right: 15px;
}

@media (max-width: 1024px) {
  .footer {
    padding: 37px 0 50px 0;
  }

  .footer__wrapper {
    padding: 0 30px;
  }

  .footer__autor {
    padding-right: 22px;
  }
}

@media (max-width: 780px) {
  .footer {
    padding: 23px 0 0 0;
  }

  .footer__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding: 0 15px;
  }

  .footer__text {
    font-size: 8px;
    line-height: 11px;
    width: 87.3px;
  }

  .footer__autor {
    margin: 25px -15px 0 -15px;
    padding-left: 20px;
    width: 780px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #2A2C3F;
    text-align: center;
    order: 2;
  }
}