.header {
  position: relative;
  padding-bottom: 120px;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(./img/header-office-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  z-index: -2;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 50, 75, 0.85);
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  z-index: -1;
}

.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 68px;
  height: 68px;
}

.tel-block {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #fff;
  text-align: center;
  font-style: normal;
  position: relative;
}

.call-btn {
  color: #fff;
  font-size: 23.85px;
  line-height: 28px;
  background: transparent;
  border: none;
}

.call-me {
  font-size: 16px;
  line-height: 19px;
  position: relative;
}

.call-me::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 38px;
  width: 131.98px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.header__bottom {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  text-align: center;
  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
  color: rgba(255, 255, 255, 0.86);
  margin-bottom: 33px;
}

.header__discription {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 87px;
  width: 960px;
}

@media (max-width: 1024px) {
  .header {
    padding-top: 26px;
    padding-bottom: 70px;
  }

  .header__top {
    justify-content: space-between;
    align-content: flex-start;
  }

  .logo {
    width: 60px;
    height: 60px;
  }

.tel-block {
  gap: 6px;
}

  .call-btn {
    font-size: 21px;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .call-me {
    font-size: 13px;
    line-height: 15px;
  }

  .call-me::after{
    width: 106px;
  }

  .header__bottom {
    padding-top: 71px;
  }

  .header__title {
    width: 780px;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 28px;
  }

  .header__discription {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 57px;
    width: 754px;
  }
}

@media (max-width: 780px) {
  .header {
    padding-top: 16px;
    padding-bottom: 65px;
    flex-wrap: wrap;
  }

  .header::before {
    background-position: left -63px top 0px;
  }

  .logo {
    width: 30px;
    height: 30px;
  }

  .tel-block:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(./img/Phone-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    right: 0;
    top: -12px;
  }

  .call-btn {
    display: none;
  }

  .call-me {
    display: none;
  }

  .header__bottom {
    padding-top: 66px;
  }

  .header__title {
    width: 290px;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 27px;
  }

  .header__discription {
    width: 290px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 51px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
}