.header {
  position: relative;
  padding-bottom: 120px;
}

.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(./img/header-office-bg.jpg);
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  z-index: -2;
}

.header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(47, 50, 75, 0.85);
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  z-index: -1;
}

.header__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: 68px;
  height: 68px;
}

.header__tel {
  color: #fff;
  text-align: center;
  font-style: normal;
}

.header__call-me {
  font-size: 23.85px;
  line-height: 28px;
  margin-bottom: 3px;
}

.header__call-me-text {
  font-size: 16px;
  line-height: 19px;
  text-decoration: underline;
}

.header__bottom {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-weight: 900;
  font-size: 52px;
  line-height: 61px;
  color: rgba(255, 255, 255, 0.86);
  margin-bottom: 35px;
}

.header__discription {
  color: rgba(255, 255, 255, 0.75);
  margin-bottom: 90px;
  width: 960px;
}

@media (max-width: 1024px) {
  .header {
    padding-top: 26px;
    padding-bottom: 70px;
  }

  .header__top {
    justify-content: space-between;
  }

  .header__logo {
    width: 60px;
    height: 60px;
  }

  .header__call-me {
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 4px;
  }

  .header__call-me-text {
    font-size: 13px;
    line-height: 15px;
  }

  .header__bottom {
    padding-top: 70px;
  }

  .header__title {
    width: 780px;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 28px;
  }

  .header__discription {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 60px;
    width: 754px;
  }
}

@media (max-width: 780px) {
  .header {
    padding-top: 15px;
    padding-bottom: 65px;
    flex-wrap: wrap;
  }

  .header::before {
    background-position: left -85px top 45px;
  }

  .header__logo {
    width: 30px;
    height: 30px;
  }

  .header__tel:before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background: url(./img/Phone-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    right: 20px;
    top: 18px;
  }

  .header__call-me {
    display: none;
  }

  .header__call-me-text {
    display: none;
  }

  .header__bottom {
    padding-top: 65px;
  }

  .header__title {
    width: 290px;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 23px;
  }

  .header__discription {
    width: 290px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 54px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }

  .paragraf__autor {
    padding: 15px 80px;
    background: #2A2C3F;
  }
}
